<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ("../partials/head.ejs") %>
    <title>
      <%= title %>
    </title>
</head>

<body>
  <%- include ("../partials/nav.ejs") %>
    <div class="container mt-4">
      <h1 class="mb-4">Page not found</h1>
      <div class="card mb-4">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">The Page does not exists</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore nemo sed voluptate
            inventore voluptatum molestiae facere rerum. Quidem officiis soluta mollitia pariatur expedita maxime
            perspiciatis consectetur quo! Saepe, minus quidem?</p>
          <a href="/" class="btn btn-primary">Go back to home</a> <a href="/" class="btn btn-primary">Check our
            Products</a>
        </div>
      </div>
</body>

</html>