<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ("../partials/head.ejs") %>
    <title>
      <%= title %>
    </title>
</head>

<body>
  <%- include ("../partials/nav.ejs") %>
    <div class="container mt-4">
      <h1>About Us</h1>
      <div class="card mb-4">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Check out our product range</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="/products" class="btn btn-primary">Products</a>
        </div>
      </div>
</body>

</html>